@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Saira+Condensed&display=swap');

:root {
  --popup-text-color: rgb(34, 33, 33);
}

body {
  font-family: 'Saira Condensed', sans-serif;
  margin: 0;
  color: #ececec;
}

h1,
h2,
p {
  margin: 0;
}

a,
button,
i {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #019267;
  box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0;
  padding: 1em;
}

nav .left {
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
}

nav .left .logo-wrapper {
  padding: 1em 0.5em;
  border: 2px solid #ececec;
  border-radius: 50%;
}

nav .left h1 {
  font-family: 'Fredoka One', 'cursive', sans-serif;
  margin: 0;
}

nav .right {
  display: flex;
  gap: 2em;
}

nav .right .active {
  font-weight: bold;
  text-decoration: underline;
}

main {
  display: flex;
  min-height: 780px;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  width: 90%;
  margin: 3em auto;
}

main .container .showCard {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #00c897;
}

main .container .showCard .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  background-color: #019267;
}

main .container .showCard .title h2 {
  line-height: 1em;
  width: 200px;
}

main .container .showCard .title .update-likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 0;
}

main .container .showCard .comment {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: #019267;
  color: #ececec;
  border: none;
  width: 100px;
  padding: 0.5em;
  margin: auto auto 1em auto;
}

footer {
  display: flex;
  background-color: #019267;
  box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0;
  padding: 1em;
}

.ctn-tv-info-window {
  display: none;
}

.show {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  color: var(--popup-text-color);
  background-color: rgba(0, 0, 0, 0.282);
}

.ctn-tv-info {
  width: 50%;
  height: 80%;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
}

.ctn-img img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

.tvshow-name {
  text-align: center;
}

.ctn-comments-head {
  align-content: center;
}

.comments-head {
  text-align: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.tvshow_info {
  display: grid;
  grid-template-columns: 50% 50%;
}

.tvshow_info h5 span {
  color: rgb(127, 159, 159);
}

.comment-list h5 {
  color: rgb(127, 159, 159);
}

.ctn-icn {
  display: flex;
  flex-direction: row-reverse;
}

.name-area {
  width: 10rem;
}

.comment-area {
  width: 20rem;
  height: 5rem;
}

.sub-button {
  width: 10rem;
  height: 2rem;
}

.progres-text {
  display: none;
}
